body{
    background-color: black;
    color: white;
}
.Domestic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    width: 45%;
}
.Domestic img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}
.Domestic h3 {
    animation: colorchange 3s infinite;
}
@keyframes colorchange {
                        100% { color: green;}
                        50% {color: lightgreen;}
                        
}
.Wild h3 {
    animation: colorchang 3s infinite;
}
@keyframes colorchang {
                        100% { color: red;}
                        50% {color: crimson;}
                        
}
