body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}
.navbar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 80%;
}
.card p {
  padding: 15px;
  font-size: 14px;
  color: #333;
}
.card:hover {
  transform: scale(1.05);
}
.highlight {
  background-color: #f0e68c;
}
